.btn-nav-general {
  height: 30px;
  line-height: 5px;
  margin-top: 5px;
}

.btn-nav {
  .btn-nav-general;
  margin-left: 5px;
  margin-top: 13px;
}

.login-input {
  .btn-nav-general;
  display: inline;
  margin-right: 5px;
}

.tsk-btn {
  float: right;
  margin: 5px;
  font-size: 20px;

  &:hover{
    text-decoration: none;
  }
}

.tsk-container {
  //border-style: solid;
  //border-width: 2px;
  //border-color: #9e6df9;
  margin: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  overflow: hidden;

  &:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
}

.tsk-output {
  margin: 5px;
}

.tsk-title {
  margin: 5px;
  word-wrap: break-word;
  width: 200px;
}

.tsk-header {
  clear: both;
  font-size: 20px;
  font-weight: bold;
}

.btn-general {
  border-radius: 3px;
  padding: 0;
  line-height: 10px;
  height: 30px;
}

.btn-tsk {
  .btn-general;
  width: 80px;
  margin: 5px;
}

.btn-delete {
  .btn-tsk;
  float: left;
}

.btn-change {
  .btn-tsk;
  float: right;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;

    a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;

      &:hover,
      &:focus {
        color: #f1f1f1;
      }
    }

    .closebtn {
      position: absolute;
      top: 5px;
      right: 15px;
      font-size: 40px;
    }

    .editbtn {
      position: absolute;
      top: 20px;
      left: 15px;
      font-size: 30px;
    }
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.overlay-task {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;

    a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;

      &:hover,
      &:focus {
        color: #f1f1f1;
      }
    }

    .closebtn {
      position: absolute;
      top: 5px;
      right: 15px;
      font-size: 40px;
    }

    .editbtn {
      position: absolute;
      top: 20px;
      left: 15px;
      font-size: 30px;
    }
}