@import (reference) "global.less";

.hide {
  display: none;
}

.options-selector:hover {
  opacity: 1;
}

.tsk-btn {
  .anchor-general;
  float: left;
  margin-right: 5px;
  margin-top: 7px;
  font-size: 15px;

  &:hover {
    text-decoration: none;
    opacity: 0.7;
  }
}

.float-right {
  float: right;
}

.tsk-header {
  text-align: center;
}

.tsk-wrapper {
  min-height: 60px;
}

.tsk-heading {
  margin: 5px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.2em;
  margin-right: 5px;
  border-radius: 2px;
}

.tsk-heading-txt {
  word-break: break-all;
  display:inline-block;
  margin-right: 10px;
}

.tsk-output {
  margin: 5px;
  border-radius: 2px;
  float: right;
}

.tsk-title {
  margin: 5px;
  word-break: break-all;
  width: auto;
  float: left;
}

.tsk-header {
  clear: both;
  font-size: 20px;
  font-weight: bold;
}

.tsk-icon {
  float: left;
  margin: 8px;
}

.tsk-low-priority,
.tsk-medium-priority,
.tsk-high-priority {
  border-left: solid 10px;
}

.tsk-low-priority {
  border-color: @mantis;
}

.tsk-medium-priority {
  border-color: @tacao;
}

.tsk-high-priority {
  border-color: @froly;
}

.file-uploader {
  float: right;
  cursor: pointer;
}