.btn-nav-general {
  height: 30px;
  line-height: 5px;
  margin-top: 5px;
}
.btn-nav {
  height: 30px;
  line-height: 5px;
  margin-top: 5px;
  margin-left: 5px;
}
.login-input {
  height: 30px;
  line-height: 5px;
  margin-top: 5px;
  display: inline;
  margin-right: 5px;
}
.tsk-heading {
  font-size: 15px;
  font-weight: bold;
}
.tsk-output {
  margin-left: 10px;
}
.tasks-header {
  clear: both;
  font-size: 20px;
  font-weight: bold;
}
.btn-general {
  border-radius: 3px;
  padding: 0;
  line-height: 10px;
  height: 30px;
}
.btn-tsk {
  border-radius: 3px;
  padding: 0;
  line-height: 10px;
  height: 30px;
  width: 80px;
  margin: 5px;
}
.btn-delete {
  border-radius: 3px;
  padding: 0;
  line-height: 10px;
  height: 30px;
  width: 80px;
  margin: 5px;
  float: left;
}
.btn-change {
  border-radius: 3px;
  padding: 0;
  line-height: 10px;
  height: 30px;
  width: 80px;
  margin: 5px;
  float: right;
}
.task-container {
  clear: both;
  border-style: solid;
  border-radius: 3px;
  border-width: 2px;
  border-color: #9e6df9;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
