<div class="manager" data-bind="style: { top: managerToggled() ? '0' : '-100%' }">

  <div>
    <div class="manager-header">Manage</div>
    <a class="closebtn glyphicon glyphicon-remove" data-bind="click: toggleManager"></a>
  </div>

  <div class="row manager-content-wrapper" data-bind="with: projects">

    <div class="col-md-4 col-sm-12 manager-element-wrapper">

      <div class="manager-main">
        <div class="manager-main-header">
          <div class="row manager-heading-row">
            <div class="col-xs-6 manager-heading-text">Projects</div>
            <div class="col-xs-6 manager-heading-icon">
              <div class="glyphicon glyphicon-plus-sign anchor-general"
                   data-bind="click: newProject,
                              openModal: 'project'"></div>
            </div>
          </div>
        </div>

        <div data-bind="foreach: projects">
          <div class="manager-prj-wrapper accordion"
               data-bind="click: $parent.selectProject">
            <div class="manager-content accordion-item">
              <div class="manager-prj-header" data-bind="text: title"></div>
              <a class="glyphicon glyphicon-pencil manager-icon"
                 data-bind="click: $parent.editProject, openModal: 'project'"></a>
              <a class="glyphicon glyphicon-remove manager-icon"
                 data-bind="click: $parent.removeProject"></a>
              <div class="accordion-item-content"
                   data-bind="css: { 'accordion-expand': $parent.currentProject() === $data}">
                <span class="manager-content" data-bind="text: description"</span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- ko if: currentProject -->
      <div class="manager-main" data-bind="with: currentProject">

        <div class="manager-main-header">
          <div class="row manager-heading-row">
            <div class="col-xs-6 manager-heading-text">Sprints</div>
            <div class="col-xs-6 manager-heading-icon">
              <div class="glyphicon glyphicon-plus-sign anchor-general"
                   data-bind="click: newSprint,
                              openModal: 'sprint'"></div>
            </div>
          </div>
        </div>

        <div data-bind="foreach: sprints">
          <div class="manager-prj-wrapper accordion" data-bind="click: $parent.selectSprint">
            <div class="manager-content accordion-item">
              <div class="manager-prj-header" data-bind="text: title"></div>
              <a class="glyphicon glyphicon-pencil manager-icon"
                 data-bind="click: $parent.editSprint, openModal: 'sprint'"></a>
              <a class="glyphicon glyphicon-remove manager-icon"
                 data-bind="click: $parent.removeSprint"></a>
              <div class="accordion-item-content"
                   data-bind="css: { 'accordion-expand': $parent.currentSprint() === $data}">
                <span class="manager-content" data-bind="text: description"</span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /ko -->
    </div>
    <!-- ko if: currentProject -->
    <div class="col-md-8 col-sm-12 manager-element-wrapper" data-bind="with: currentProject">

      <div class="manager-main"
           data-bind="dropZone: { accepts: 'backlog', drop: addTaskToSprint }">
        <div class="manager-main-header">
          <h2 data-bind="text: currentSprint() && currentSprint().title"></h2>
        </div>

        <div data-bind="foreach: taskTodo"> <!-- change to taskSprint -->
          <div class="manager-prj-wrapper accordion"
               data-bind="borderColorPicker: priority,
                          dragZone: { name: 'backlog' }">
            <div class="manager-content accordion-item">
              <div class="manager-prj-header" data-bind="text: title"></div>
              <a class="glyphicon glyphicon-pencil manager-icon"></a>
              <a class="glyphicon glyphicon-remove manager-icon"
                 data-bind="click: $parent.removeTask"></a>
              <div class="accordion-item-content">
                <span class="manager-content" data-bind="text: description"</span>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="manager-main"
           data-bind="dropZone: { accepts: 'backlog', drop: removeTaskFromSprint }">
        <div class="manager-main-header">
          <h2>Backlog</h2>
        </div>

        <div data-bind="foreach: tasks">
          <div class="manager-prj-wrapper accordion"
               data-bind="borderColorPicker: priority,
                          dragZone: { name: 'backlog' }">
            <div class="manager-content accordion-item">
              <div class="manager-prj-header" data-bind="text: title"></div>
              <a class="glyphicon glyphicon-pencil manager-icon"
                 data-bind="click: $parent.editTask, openModal: 'task'"></a>
              <a class="glyphicon glyphicon-remove manager-icon"
                 data-bind="click: $parent.removeTask"></a>
              <div class="accordion-item-content">
                <div class="manager-content" data-bind="text: description"</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- /ko -->
</div>
