<div class="overlay-manager">
  <!-- data-bind="style: { left: toggleProject() ? '0' : '-100%',
       width: toggleProject() ? '100%' : '0' }" -->
  <a class="closebtn" data-bind="click: toggleProjectLayout">×</a>

  <div class="row manager-content-wrapper">

    <div class="col-md-4 col-sm-12 overlay-manager-element-wrapper">
      <div class="overlay-manager-sidebar" data-bind="foreach: projects">
        <div>
          <a data-bind="text: title, click: function(project) { $root.pickProject(project),
                        $root.toggleProjectLayout() }"></a>
          <a class="create-project"
             data-bind="click: function(project){ $root.pickProject(project),
                        $root.toggleProjectLayout() }, openModal">✎</a>
          <a data-bind="click: $root.removeProject">×</a>
        </div>
      </div>

      <div class="overlay-manager-sidebar" data-bind="foreach: projects">
        <div>
          <a data-bind="text: title, click: function(project) { $root.pickProject(project),
                        $root.toggleProjectLayout() }"></a>
          <a class="create-project"
             data-bind="click: function(project){ $root.pickProject(project),
                        $root.toggleProjectLayout() }, openModal">✎</a>
          <a data-bind="click: $root.removeProject">×</a>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-sm-12 overlay-manager-element-wrapper">
      <div class="overlay-manager-main" data-bind="foreach: projects">
        <div>
          <a data-bind="text: title, click: function(project) { $root.pickProject(project),
                        $root.toggleProjectLayout() }"></a>
          <a class="create-project"
             data-bind="click: function(project){ $root.pickProject(project),
                        $root.toggleProjectLayout() }, openModal">✎</a>
          <a data-bind="click: $root.removeProject">×</a>
        </div>
      </div>
    </div>

  </div>

</div>
