<nav class="navbar navbar-inverse navbar-static-top anchor-general" role="navigation">
  <ul class="nav navbar-nav navbar-right logged-in">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown">
        <span data-bind="text: currentUser() && currentUser().username"></span>
        <span class="glyphicon glyphicon-user"></span>
        <span class="glyphicon glyphicon-chevron-down"></span>
        <ul class="dropdown-menu">
          <li><a data-bind="logout">Logout</a></li>
        </ul>
  </ul>

  <ul class="nav navbar-nav navbar-left">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-plus-sign"></span>
      </a>
        <ul class="dropdown-menu">
          <li><a data-bind="click: pickTask(new Task({})),
                            openModal: 'task'">Create Task</a></li>
          <li><a data-bind="click: pickProject(new Project({})),
                            openModal: 'project'">Create Project</a></li>
          <li><a data-bind="click: pickSprint(new Sprint({})),
                            openModal: 'sprint'">Create Sprint</a></li>
          <li><a data-bind="openModal: 'user'">Create User</a></li>
        </ul>
    </li>

    <li class="dropdown" data-bind="visible: projects().length > 0">
      <a class="dropdown-toggle" data-toggle="dropdown">
        <span data-bind="text: currentProject().title"></span>
        <span class="glyphicon glyphicon-chevron-down"></span>
      </a>
      <ul class="dropdown-menu">
        <li data-bind="foreach: projects">
          <a data-bind="click: $root.selectProject, text: title"></a>
        </li>
      </ul>
    </li>

    <li class="dropdown" data-bind="visible: sprints().length > 0">
      <a class="dropdown-toggle" data-toggle="dropdown">
        <span data-bind="text: currentSprint().title"></span>
        <span class="glyphicon glyphicon-chevron-down"></span>
      </a>
      <ul class="dropdown-menu">
        <li data-bind="foreach: sprints">
          <a data-bind="click: $root.selectSprint, text: title"></a>
        </li>
      </ul>
    </li>

    <li><a data-bind="click: toggleManager">Manage</a></li>
  </ul>

  <form class="navbar-form navbar-right nav-form">
    <input class="form-control login-input" type="text" placeholder="username"
           data-bind="value: username"></input>
    <input class="form-control login-input" type="password"
           placeholder="password" data-bind="value: password"></input>
    <input class="btn btn-default login-input" type="submit" value="Submit"
           data-bind="login"></input>
  </form>
</nav>
