<nav class="navbar navbar-inverse navbar-static-top" role="navigation"
     data-bind="with: projects">

  <ul class="nav navbar-nav navbar-right logged-in"
      data-bind="visible: $root.currentUser() && $root.currentUser().loggedIn">
    <li class="dropdown anchor-general">
      <a class="dropdown-toggle" data-toggle="dropdown">
        <span data-bind="text: $root.currentUser() && $root.currentUser().username"></span>
        <span class="glyphicon glyphicon-user"></span>
        <span class="glyphicon glyphicon-chevron-down"></span>
        <ul class="dropdown-menu">
          <li><a data-bind="click: $root.logout">Logout</a></li>
        </ul>
  </ul>

  <ul class="nav navbar-nav navbar-left">
    <li class="dropdown">
      <a class="dropdown-toggle anchor-general" data-toggle="dropdown">
        <span class="glyphicon glyphicon-plus-sign"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a data-bind="visible: currentProject(),
                          click: currentProject() && currentProject().newTask,
                          openModal: 'task'">Create Task</a></li>
        <li><a data-bind="visible: $root.currentUser().loggedIn(),
                          click: newProject,
                          openModal: 'project'">Create Project</a></li>
        <li><a data-bind="visible: currentProject(),
                          click: currentProject() && currentProject().newSprint,
                          openModal: 'sprint'">Create Sprint</a></li>
        <li><a data-bind="visible: $root.currentUser() && !$root.currentUser().loggedIn(),
                          click: $root.newUser,
                          openModal: 'user'">Create User</a></li>
      </ul>
    </li>

    <li class="dropdown" data-bind="visible: projects().length">
      <a class="dropdown-toggle anchor-general" data-toggle="dropdown">
        <span data-bind="text: currentProject() && currentProject().title"></span>
        <span class="glyphicon glyphicon-chevron-down"></span>
      </a>
      <ul class="dropdown-menu">
        <li data-bind="foreach: projects">
          <a data-bind="click: $parent.selectProject, text: title"></a>
        </li>
      </ul>
    </li>



    <li><a class="anchor-general" data-bind="click: $root.toggleManager">Manage</a></li>
  </ul>

  <form class="navbar-form navbar-right"
        data-bind="visible: $root.currentUser() && !$root.currentUser().loggedIn()">
    <input class="form-control login-input" type="text" placeholder="username"
           data-bind="value: $root.currentUser() && $root.currentUser().username"></input>
    <input class="form-control login-input" type="password"
           placeholder="password"
           data-bind="value: $root.currentUser() && $root.currentUser().password"></input>
    <input class="btn btn-default login-input anchor-general" type="submit" value="Submit"
           data-bind="click: $root.login"></input>
  </form>

</nav>
