<div class="overlay"
     data-bind="style: { left: toggleProject() ? '0' : '-100%',
                width: toggleProject() ? '100%' : '0' }">
  <a class="closebtn" data-bind="click: toggleLayout">×</a>
  <div class="overlay-content" data-bind="foreach: projects">
    <div>
      <a data-bind="text: title, click: function(project) { $root.currentProject(project),
                    $root.toggleLayout() }"></a>
      <a class="create-project"
         data-bind="click: function(project){ $root.pickProject(project),
                    $root.toggleLayout() }, openModal">✎</a>
      <a data-bind="click: $root.removeProject">×</a>
    </div>
  </div>
</div>
