<!-- Modal -->
<div class="modal fade" id="sprintModal" role="dialog" data-bind="with: projects">
  <!-- ko if: currentProject -->
  <div class="modal-dialog" data-bind="with: currentProject">

    <!-- Modal content-->
    <div class="modal-content" >

      <div class="modal-header">
        <button type="button" class="glyphicon glyphicon-remove modal-close" data-dismiss="modal"></button>
        <h4 class="modal-title">Sprint Properties</h4>
      </div>
      <div class="modal-body">

        Title:
        <div>
          <input class="form-control" type="text"
                 data-bind="value: sprintForEdit() && sprintForEdit().title">
        </div>

        Description:
        <div>
          <input class="form-control" type="text"
                 data-bind="value: sprintForEdit() && sprintForEdit().description">
        </div>

        Project:
        <div class="input-group">
          <select class="selectpicker" data-bind="sprintForEdit() && sprintForEdit().project,
                                                  optionsText: 'title',
                                                  optionsValue: 'id',
                                                  selectPickerOptions: {
                                                  optionsArray: projects }">
          </select>
        </div>

      </div>

      <div class="modal-footer">
        <input class="btn btn-default" type="submit" value="Submit"
               data-bind="click: sprintForEdit() && sprintForEdit().submit" data-dismiss="modal">
      </div>
    </div>
  </div>
  <!-- /ko -->
</div>
