<div class="overlay-task" data-bind="style: { left: toggleMenu() ? '0px' :
  '-300px'}">
  <a class="closebtn glyphicon glyphicon-remove" data-bind="click: $root.toggleSidebar"></a>
  <a class="editbtn glyphicon glyphicon-pencil"></a>
  <div class="overlay-content-task">

    <p class="line">Details</p>
    <div class="tsk-group">
      <div>
        <p class="tsk-heading">Title: </p><div class="tsk-heading-txt"
                                               data-bind="text:$root.task() &&
                                                          $root.task().title"></div>
      </div>

      <div>
        <p class="tsk-heading">Description: </p><div class="tsk-heading-txt"
                                                     data-bind="text: $root.task() &&
                                                                $root.task().description"></div>
      </div>

      <div>
        <p class="tsk-heading">Status: </p><div class="tsk-heading-txt"
                                                data-bind="text: $root.task() &&
                                                           $root.task().status"></div>
      </div>

      <div>
        <p class="tsk-heading">Priority: </p><div class="tsk-heading-txt"
                                                  data-bind="text: $root.task() &&
                                                             $root.task().priority"></div>
      </div>
    </div>
    <div class="line">Assignees</div>
    <!-- ko if: $root.task() -->
    <div class="tsk-group" data-bind="foreach: $root.task().assignees">
      <div>
        <img class="img-rounded tsk-heading" style="margin: 5px;"
             data-bind="attr: { src: avatar_thumbnail }"></img>
        <div class="tsk-heading-txt" data-bind="text: username"></div>
      </div>
    </div>
    <!-- /ko -->
  </div>
</div>
