<!-- Modal -->
<div class="modal fade" id="taskModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="glyphicon glyphicon-remove modal-close" data-dismiss="modal"></button>
        <h4 class="modal-title">Task Properties</h4>
      </div>
      <div class="modal-body">
        Title:
        <div>
          <input class="form-control" type="text" data-bind="value: projects.currentProject().taskForEdit().title">
        </div>

        Description:
        <div>
          <input class="form-control" type="text" data-bind="value: projects.currentProject().taskForEdit().description">
        </div>

        Status:

        <div class="input-group">
          <select class="selectpicker" data-bind="options: statuses,
                                                  optionsText: 'name',
                                                  value: projects.currentProject().taskForEdit().status,
                                                  optionsValue: 'value'"></select>
        </div>

        Priority:

        <div class="input-group">
          <select class="selectpicker" data-bind="options: priorities,
                                                  optionsText: 'name',
                                                  value: projects.currentProject().taskForEdit().priority,
                                                  optionsValue: 'value'"></select>
        </div>

        Assignees:

        <div class="input-group">
          <select multiple data-live-search="true"
                  data-bind="selectPicker: projects.currentProject().taskForEdit().assignees,
                             optionsText: 'name',
                             optionsValue:'id',
                             selectPickerOptions: { optionsArray: users }">
          </select>
        </div>

        Task Type:

        <div class="input-group">
          <select class="selectpicker" data-bind="options: taskTypes,
                                                  optionsText: 'name',
                                                  value: projects.currentProject().taskForEdit().taskType,
                                                  optionsValue: 'value'"></select>
        </div>
        <div data-bind="visible: projects.currentProject().taskForEdit().taskType === 'story'">
          Reference Task:

          <div class="input-group">
            <select class="selectpicker" data-bind="options: taskStory,
                                                    optionsText: 'title',
                                                    value: projects.currentProject().taskForEdit().refTask"></select>
          </div>
        </div>

        Projects:

        <div class="input-group">
          <select class="selectpicker" data-bind="selectPicker: projects.currentProject().taskForEdit().project,
                                                  optionsText: 'title',
                                                  optionsValue: 'id',
                                                  selectPickerOptions: { optionsArray: projects.projects }">
          </select>
        </div>

        Sprints:

        <div class="input-group">
          <select class="selectpicker" data-bind="selectPicker: projects.currentProject().taskForEdit().sprint,
                                                  optionsText: 'title',
                                                  optionsValue: 'id',
                                                  selectPickerOptions: { optionsArray: projects.sprints }">
          </select>
        </div>

        Avatar:
        <!-- Fix this -->
        <label class="btn btn-default input-group" for="my-file-selector">
          <input id="my-file-selector" type="file" onchange="$('#upload-file-info').html($(this).val());">
          Upload
        </label>
        <span class='label label-info' id="upload-file-info"></span>

      </div>
      <div class="modal-footer">
        <input class="btn btn-default" type="submit" value="Submit"
               data-bind="click: submitTask" data-dismiss="modal">
      </div>
    </div>
  </div>
</div>
