<!-- Modal -->
<div class="modal fade" id="userModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">User Properties</h4>
      </div>
      <div class="modal-body">
        Username:
        <div>
          <input class="form-control" type="text" data-bind="value: username">
        </div>

        Email:
        <div>
          <input class="form-control" type="text" data-bind="value: email">
        </div>

        Password:
        <div>
          <input class="form-control" type="password" data-bind="value: password">
        </div>

      </div>
      <div class="modal-footer">
        <input class="btn btn-default" type="submit" value="Submit"
               data-bind="click: createUser" data-dismiss="modal">
      </div>
    </div>
  </div>
</div>
