<!DOCTYPE html>
{% load static %}
<html lang="en" class="height-max">
  <head>
    <title>Minimal TMS</title>
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js">
    </script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-debug.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified CSS(bs-select) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript(bs-select) -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

    <!-- Font Awesome -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- static css -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>
  <body class="main height-max">

    <div class="height-max">
      <div class="overlay-background"
           data-bind="style: {
                      width: menuToggled() ? '100%' : '0',
                      backgroundColor: menuToggled() ? 'rgba(0, 0, 0, 0.1)' : 'initial'
                      },
                      click: toggleMenu,
                      disableClick"></div>

      {% include '_navbar.html' %}

      {% include '_project_modal.html' %}
      {% include '_user_modal.html' %}
      {% include '_sprint_modal.html' %}
      {% include '_task_modal.html' %}

      <div data-bind="with: projects" class="height-max">
        <!-- ko if: currentProject -->
        <div data-bind="with: currentProject" class="row height-max">
          <div class="col-md-4 col-sm-6 height-max">
            <p class="tsk-header">To Do</p>
            <div class="tsk-wrapper height-max" data-bind="foreach: taskTodo, dropZone: { accepts: 'tasks',
                                                drop:
                                                changeTaskStatus.bind($data, 'todo') }">
                {% include '_task_data.html' %}
            </div>
          </div>

          <div class="col-md-4 col-sm-6 height-max">
            <p class="tsk-header">In Progress</p>
            <div class="tsk-wrapper height-max" data-bind="foreach: taskInProgress, dropZone: { accepts: 'tasks',
                                                drop:
            changeTaskStatus.bind($data, 'in-progress') }">
                {% include '_task_data.html' %}
            </div>
          </div>

          <div class="col-md-4 col-sm-6 height-max">
            <p class="tsk-header">Completed</p>
            <div class="tsk-wrapper height-max" data-bind="foreach: taskCompleted, dropZone: { accepts: 'tasks',
                                                drop:
            changeTaskStatus.bind($data, 'completed') }">
                {% include '_task_data.html' %}
            </div>
          </div>
        </div>
        <!-- /ko -->
      </div>

      <div class="login-alert"></div>

      {% include '_manager_overlay.html' %}
      {% include '_task_overlay.html' %}
    </div>

    <script>
      $(function () {
        var pageVM = new PageViewModel();
        ko.applyBindings(pageVM);
      });
    </script>

    {% include 'urls.html' %}
    {% csrf_token %}
    <script src="{% static 'js/lib/promissory-arbiter.js' %}"></script>
    <script src="{% static 'js/csrf-setter.js' %}"></script>
    <script src="{% static 'js/helpers.js' %}"></script>

    <script src="{% static 'js/view-models/page.js' %}"></script>
    <script src="{% static 'js/view-models/projects.js' %}"></script>
    <script src="{% static 'js/view-models/sprint.js' %}"></script>
    <script src="{% static 'js/view-models/user.js' %}"></script>
    <script src="{% static 'js/view-models/task.js' %}"></script>
    <script src="{% static 'js/view-models/namevalue-pair.js' %}"></script>
    <script src="{% static 'js/view-models/comment.js' %}"></script>

    <script src="{% static 'js/bindings/knockout.dragdrop.js' %}"></script>
    <script src="{% static 'js/bindings/select-picker.js' %}"></script>
    <script src="{% static 'js/bindings/border-color-picker.js' %}"></script>
    <script src="{% static 'js/bindings/open-modal.js' %}"></script>
    <script src="{% static 'js/bindings/icon-picker.js' %}"></script>
    <script src="{% static 'js/bindings/submit-input.js' %}"></script>
  </body>
</html>
