<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>ToDo</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified CSS(bs-select) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript(bs-select) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

    <!-- static css -->
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
  </head>
  <body>

    {% include '_navbar.html' %}

    <div class="container main">

      {% include '_task_modal.html' %}

        <div class="col-md-4 col-sm-6 todo">
          <p class="tsk-header">To Do</p>
          <div class="tsk-wrapper" style="min-height:60px;" data-bind="foreach: filterTodo,
                                                   dropZone: { accepts: 'tasks', drop: changeStatusTodo }">
            {% include '_task_data.html' %}
          </div>
        </div>

        <div class="col-md-4 col-sm-6 in-progress">
          <p class="tsk-header">In Progress</p>
          <div class="tsk-wrapper" data-bind="foreach: filterInProgress,
                          dropZone: { accepts: 'tasks', drop: changeStatusInProgress }">
            {% include '_task_data.html' %}
          </div>
        </div>

        <div class="col-md-4 col-sm-6 completed">
          <p class="tsk-header">Completed</p>
          <div class="tsk-wrapper" data-bind="foreach: filterCompleted, dropZone: { accepts: 'tasks', drop: changeStatusCompleted }">
            {% include '_task_data.html' %}
          </div>
        </div>

      </div>

    </div>

    <center><div class="login-alert"></div></center>

    {% include '_project_overlay.html' %}
    {% include '_task_overlay.html' %}

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js">
    </script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    <script
        src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
    {% csrf_token %}
    <script src="{% static 'js/view-models/index.js' %}"></script>
    <script src="{% static 'js/view-models/knockout.dragdrop.js' %}"></script>
  </body>
</html>
