{% with mainId="0000" parentId="0000" childId="0000" %}
<script>
 var Urls = function () {
     var self = this;

     self.commentListUrl = "{% url 'comment-list' mainId parentId %}";
     self.commentDetailUrl = "{% url 'comment-detail' mainId parentId childId %}";
     self.commentAttachmentUrl = "{% url 'comment-attachment' mainId parentId childId %}";

     self.taskListUrl = "{% url 'task-list' mainId %}";
     self.taskDetailUrl = "{% url 'task-detail' mainId parentId %}";
     self.taskChangeStatusUrl = "{% url 'task-change-status' mainId parentId %}";
     self.projectListUrl = "{% url 'project-list' %}";
     self.projectDetailUrl = "{% url 'project-detail' mainId %}";
     self.sprintListUrl = "{% url 'sprint-list' mainId %}";
     self.sprintDetailUrl = "{% url 'sprint-detail' mainId parentId %}";

     self.userListUrl = "{% url 'user-list' %}";
     self.userDetailUrl = "{% url 'user-detail' mainId %}";
     self.currentUserUrl = "{% url 'user-current' %}"
     self.registerUrl = "{% url 'register' %}"

     self.loginUrl = "{% url 'login' %}";
     self.logoutUrl = "{% url 'logout' %}";

     self.getCommentAttachmentUrl = function (projectId, taskId, commentId) {
         return self.commentAttachmentUrl.replace('{{mainId}}', projectId)
                    .replace('{{parentId}}', taskId)
                    .replace('{{childId}}', commentId);
     };

     self.getCommentDetailUrl = function (projectId, taskId, commentId) {
         return self.commentDetailUrl.replace('{{mainId}}', projectId)
                    .replace('{{parentId}}', taskId)
                    .replace('{{childId}}', commentId);
     };

     self.getCommentListUrl = function (projectId, taskId) {
         return self.commentListUrl.replace('{{mainId}}', projectId)
                    .replace('{{parentId}}', taskId);
     };

     self.getUserDetailUrl = function (userId) {
         return self.userDetailUrl.replace('{{mainId}}', userId);
     };

     self.getTaskListUrl = function (projectId) {
         return self.taskListUrl.replace('{{mainId}}', projectId);
     };

     self.getSprintListUrl = function (projectId) {
         return self.sprintListUrl.replace('{{mainId}}', projectId);
     };

     self.getTaskDetailUrl = function (projectId, taskId) {
         return self.taskDetailUrl.replace('{{mainId}}', projectId)
                    .replace('{{parentId}}', taskId);
     };

     self.getTaskChangeStatusUrl = function (projectId, taskId) {
         return self.taskChangeStatusUrl.replace('{{mainId}}', projectId)
                    .replace('{{parentId}}', taskId);
     };

     self.getSprintDetailUrl = function (projectId, sprintId) {
         return self.sprintDetailUrl
                    .replace('{{mainId}}', projectId)
                    .replace('{{parentId}}', sprintId);
     };

     self.getProjectDetailUrl = function (projectId) {
         return self.projectDetailUrl.replace('{{mainId}}', projectId)
     };

     return self;
 };
</script>
{% endwith %}
