{% with dumbId=0000 childId=0000 %}
<script>
 var Urls = function () {
     var self = this;

     self.taskListUrl = "{% url 'task-list' dumbId %}";
     self.taskDetailUrl = "{% url 'task-detail' dumbId childId %}";
     self.projectListUrl = "{% url 'project-list' %}";
     self.projectDetailUrl = "{% url 'project-detail' dumbId %}";
     self.sprintListUrl = "{% url 'sprint-list' dumbId %}";
     self.sprintDetailUrl = "{% url 'sprint-detail' dumbId childId %}";

     self.userListUrl = "{% url 'user-list' %}";
     self.userDetailUrl = "{% url 'user-detail' dumbId %}";
     self.currentUserUrl = "{% url 'current_user' %}"

     self.loginUrl = "{% url 'login' %}";
     self.logoutUrl = "{% url 'logout' %}";

     self.getUserDetailUrl = function (userId) {
         return self.userDetailUrl.replace('{{dumbId}}', userId);
     };

     self.getTaskListUrl = function (projectId) {
         return self.taskListUrl.replace('{{dumbId}}', projectId);
     };

     self.getSprintListUrl = function (projectId) {
         return self.sprintListUrl.replace('{{dumbId}}', projectId);
     };

     self.getTaskDetailUrl = function (projectId, taskId) {
         return self.taskListUrl.replace('{{dumbId}}', projectId)
                    .replace('{{childId}}', taskId);
     };

     self.getSprintDetailUrl = function (projectId, sprintId) {
         return self.taskListUrl
                    .replace('{{dumbId}}', projectId)
                    .replace('{{childId}}').replace(sprintId);
     };

     self.getProjectDetailUrl = function (projectId) {
         return self.projectDetailUrl.replace('{{dumbId}}', projectId)
     };

     return self;
 };
</script>
{% endwith %}
